<div id="<%= dom_id post %>">
  <p>
    <strong>Caption:</strong>
    <%= post.caption %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong>Images:</strong>
    <% post.images.each do |image| %>
      <div><%= image_tag(post.images.first, :size => "500x500") if post.images.any? %></div>
    <% end %>
  </p>

</div>
