<div id="<%= dom_id post %>">
  <strong>
    <%= post.caption %>
  </strong>

  <p>
    <%= post.body %>
  </p>

  <p>
    <% post.images.each do |image| %>
      <div><%= image_tag(post.images.first, :size => "500x500") if post.images.any? %></div>
    <% end %>
  </p>

</div>
